  <div class="container mt-3">
	  
    <div class="row">
      <div class="col-md-6">
        <h2>Sistema de Gerenciamento de Empresas <br>e Funcionários</h2>
        <p>Aplicação Spring REST API com Angular.</p>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="d-grid gap-4">
          <div class="btn-group-vertical">
            <a routerLink="cadastro-empresas" class="btn btn-outline-primary" type="button">Cadastrar Empresas</a>
            <a routerLink="consulta-empresas" class="btn btn-outline-primary" type="button">Consultar Empresas</a>
            <a routerLink="cadastro-funcionarios" class="btn btn-outline-primary" type="button">Cadastrar Funcionários</a>
            <a routerLink="consulta-funcionarios" class="btn btn-outline-primary" type="button">Consultar Funcionários</a>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>