<h3>Cadastrar Funcionários</h3>
<p>Preencha o formulário com as informações necessárias para cadastrar um funcionário.</p>
<hr>

<div class="text-danger">
	<ul>
		<li *ngFor="let mensagem of mensagens_erro">{{mensagem}}</li>
	</ul>
</div>

<div class="text-success">
	<ul>
		<li *ngFor="let mensagem of mensagens_sucesso"><strong>{{mensagem}}</strong></li>
	</ul>
</div>

<form #formCadastro="ngForm" (submit)="cadastrarFuncionario(formCadastro)" autocomplete="off">

    <label>Nome:</label>
    <input type="text" name="nome"
	    ngModel
	    class="form-control"
		required
		minlength="3"
		maxlength="150"
		#nome="ngModel"
	    placeholder="Ex: João Silva">
    <br>

	<div *ngIf="nome.invalid && (nome.dirty || nome.touched)" id="erro"
    class="alert alert-danger">

		<div *ngIf="nome.errors.required">
			Digite um nome.
		</div>
		<div *ngIf="nome.errors.minlength">
			O nome deve conter pelo menos 3 caracteres.
		</div>
		<div *ngIf="nome.error.maxlength">
			O nome deve pode conter no máximo 150 caracteres.
		</div>

	</div>

    <label>CPF:</label>
    <input type="text" name="cpf" 
	    ngModel
	    class="form-control"
		required

	    placeholder="Ex: 999.999.999-99">
    <br>

    <label>Data de Admissao:</label>
    <input type="date" name="dataAdmissao" 
	    ngModel
	    class="form-control">
    <br>

    <label>Salário:</label>
    <input type="text" name="salario"
	    ngModel
	    class="form-control"
		placeholder="9999.99">
    <br>

    <label>CNPJ da Empresa:</label>
    <input type="text" name="cnpjEmpresa"
	    ngModel
	    class="form-control"
		placeholder="99.999.999/9999-99">
    <br>

    <input type="submit" class="btn btn-success" value="Cadastrar Funcionário">
</form>